.linechart {
  display: flex;
  justify-content: center;
}

.strategy-status {
  font-size: 10px;
}

.strategy-status ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 1.2; /* Adjust this */
}

.strategy-status li {
  margin: 0; /* Set margin to zero */
  padding: 0; /* Set padding to zero */
}

.strategy-status span.bold {
  font-weight: bold;
}
.table-card {
  background-color: gainsboro;
  border-radius: 12px;
  padding: 20px 8px;
  margin: 0 20px;
}
.funTable-wrapper {
  height: 360px;
  margin: 25px auto;
  border: 1px solid;
  border-radius: 4px;
  width: 100%;
  overflow: auto;
  width: 100%;
  max-width: calc(100vw - 20px);
}
.funTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 12px;
  text-align: left;
  height: 400px;
  overflow: auto;
}

.funTable-thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

.funTable th {
  padding: 12px; /* Adjust the padding */
  text-align: center; /* Align the text to the center */
}
.funTable td {
  padding: 16px; /* Adjust the padding */
  text-align: center; /* Align the text to the center */
}

.funTable tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #f3f3f3;
}

.funTable tbody tr:nth-of-type(even) {
  background-color: #f3e5f5;
}

.funTable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.funTable thead {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.flash {
  background-color: #ffc107;
  transition: background-color 0.3s ease;
}

@keyframes flash {
  0% {
    background-color: red;
  }
  100% {
    background-color: transparent;
  }
}

.flash {
  animation: flash 0.4s;
}

.counter {
  display: flex;
  justify-content: center;
}

.raceTitle {
  padding-top: 1em;
  font-size: 1.5em;
  margin: 0.83em 0;
  text-align: start;
}
.raceTitleTable {
  padding-top: 1em;
  font-size: 1em;
  /* bold font */
  font-weight: bold;
  margin: 0.5em 0;
}

.fundsTable {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/* .race-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  } */

.video {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.latency {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  font-size: 11px;
}
