.custom-tooltip {
  display: flex;
  flex-direction: column;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* White background with 80% opacity */
}

.info-section {
  caret-color: aquamarine;
}

.table-section {
    display: flex;
    color: grey;
    justify-content: center; /* Center the tables horizontally */
  }
  
.tooltip-table {
    table-layout: auto; /* or 'fixed' */
  }
  
.tooltip-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 4px;
    max-width: 120px;
    font-size: 8px;
  }
  